<!-- interpolacion {{}}  del ts-->
<h1>{{name}}</h1> 

<dl>
    <td>Nobre:</td>
    <dd> {{name}} </dd>
    
    <td>Edad:</td>
    <dd> {{age}} </dd>

    <td>Metodo:</td>
    <dd> {{ getHeroDescription()}} </dd>

    <td>Capitalizado:</td>
    <dd> {{capitalizedName}} </dd>
</dl>

<button 
    *ngIf="name !== 'spiderman'"
    class="btn btn-primary mx-2" 
    (click)="changeName()">
    Camiar nombre
</button>

<button 
    *ngIf="age !== 20"
    class="btn btn-primary" 
    (click)="changeAge()">
    Cambiar edad
</button>

<button 
    class="btn btn-primary mx-2" 
    (click)="reset()">
    Reset
</button>